body {
  font-family: "Open Sans", sans-serif;
  background: #f0f0f0;
}

header {
  background-color: #562b81;
  color: white;
  padding: 0.75rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Proza Libre", sans-serif;
}

header h1 {
  font-size: 20px;
  font-weight: normal;
}

img.placeholder {
  width: 100%;
  border-radius: 4px;
}

.entry-form {
  max-width: 700px;
}

legend {
  padding: 0.75rem;
}

label {
  display: block;
  font-family: "Proza Libre", sans-serif;
  font-weight: bold;
}

input {
  border-radius: 4px;
  margin-bottom: 1.8rem;
  width: 100%;
  height: 40px;
  background: #fff;
  border: 1px solid #b6b6b6;
}

textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #b6b6b6;
}

textarea:focus-visible,
input:focus-visible {
  border: 2px solid #562b81;
  outline: none;
}

button {
  background-color: #562b81;
  color: white;
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  padding: 0.5rem;
  width: 72px;
  margin-top: 15px;
}

.row.button {
  justify-content: flex-end;
}
